TEST
bin/*.o
bin/*.d
.vscode/*
EXACT
HEURISTIC
bin/libmwis_reductions.a
include/mwis_reductions.h

.idea

tex/main.aux
tex/main.log
tex/main.pdf
tex/flowchart.aux

results/
include/ipamir.h
bin/libcominisatps.a
bin/libcadical.a
bin/libmaxpre.a
bin/libscip.a
bin/libsoplex.a
bin/libuwrmaxsat.a